[submodule "monolithic"]
	path = monolithic
	url = https://github.com/zeyadrezk/Monolithic-Architecture-laravel.git
[submodule "docker-starter"]
	path = docker-starter
	url = https://github.com/zeyadrezk/laravel-docker-starter
	branch = main
[submodule "sail-starter"]
	path = sail-starter
	url = https://github.com/zeyadrezk/laravel-sail-starter.git
	branch = main
